<div class="container">
  <h1 class="my-4">Game Categories</h1>
  
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-header bg-dark text-white">
            <h5 class="mb-0"><%= category.name %></h5>
          </div>
          <div class="card-body">
            <p class="card-text"><%= category.description %></p>
            <p class="text-muted">
              <small><%= pluralize(category.cryptocurrencies.count, 'cryptocurrency') %> in this category</small>
            </p>
          </div>
          <div class="card-footer">
            <%= link_to "View Games", category_path(category), class: "btn btn-outline-dark" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>